---
const { leftCta, rightCta, placeholder = "Search for anything" } = Astro.props;
import Button from "@components/common/Button.astro";
import { Icon } from "astro-icon/components";
---

<div class="flex justify-center items-center w-full max-w-full z-10">
  <div class="w-full max-w-[600px] flex items-center">
    <div class="w-full relative">
      {
        leftCta && (
          <div class="absolute left-2 top-1/2 transform -translate-y-1/2  rounded-full bg-transparent text-gray-500 transition-colors duration-200 hover:bg-gray-100/10 focus-visible:bg-gray-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black z-10">
            <Button variant="secondary">
              <Icon name="fluent:search-32-regular" size={30} />
            </Button>
          </div>
        )
      }

      <input
        type="text"
        placeholder={placeholder}
        class="w-full h-12 rounded-3xl border-2 border-gray-300 bg-transparent px-16 outline-none focus:border-black focus:ring-2 focus:ring-black transition-colors duration-200"
      />
      {
        rightCta && (
          <div class="absolute right-2 top-1/2 transform -translate-y-1/2 rounded-full  bg-transparent text-gray-500 transition-colors duration-200 hover:bg-gray-200 focus-visible:bg-gray-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black z-10">
            <Button
              variant="secondary"
              class="bg-black text-white hover:bg-black/80"
            >
              Get started
            </Button>
          </div>
        )
      }
    </div>
  </div>
</div>
