---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Feature1 from "@assets/express-yourself.png";
import Feature2 from "@assets/create-share.png";
import Feature3 from "@assets/share-live-location.png";

const features = [
  {
    title: "Express yourselves freely",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.",
    img: Feature1,
    icon: "fa6-solid:face-smile",
  },
  {
    title: "Create and Share",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.",
    img: Feature2,
    icon: "fluent:record-32-regular",
  },
  {
    title: "Share live location",
    description:
      "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.",
    img: Feature3,
    icon: "fa6-solid:location-dot",
  },
];
---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl md:px-6 lg:px-8 grid grid-flow-row gap-36">
    {
      features.map((feature, index) => (
        <div class="grid md:grid-cols-2 gap-x-8 gap-y-16 sm:gap-y-20 lg:items-start">
          <div
            class:list={[
              "px-6 lg:px-0 lg:pt-4",
              index % 2 === 0 ? "order-1" : "order-2",
            ]}
          >
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
              <Icon name={feature.icon} class=" text-primary" size={30} />

              <h2 class="mt-2 tracking-tight text-gray-900 sm:text-4xl">
                {feature.title}
              </h2>
              <p class="mt-6  leading-8 text-gray-600">{feature.description}</p>
              <p class="mt-6">
                <a href="#" class=" leading-6 text-primary">
                  Learn more <span aria-hidden="true">→</span>
                </a>
              </p>
            </div>
          </div>
          <div
            class:list={[
              "sm:px-6 lg:px-0",
              index % 2 === 0 ? "order-2" : "order-1",
            ]}
          >
            <div class="relative isolate overflow-hidden px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl  sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <Image src={feature.img} alt="Product screenshot" />
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
