---
import Carousal from "@components/site/Carousal/Carousal.tsx";
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="tracking-tight text-gray-900 sm:text-4xl">
        Around 5M+ creators
      </h2>
      <p class="mt-6 leading-8 text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut la
      </p>
    </div>
    <Carousal client:idle />
  </div>
</div>
